body {
  font-size: 87%;
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
  min-width: 47em;
}
 
a {
  color: blue;
  font-size: 100%;
}
 
div#header {
  margin-bottom: 1.05em;
  overflow: hidden;
  padding-bottom: 1.5em;
  padding-left: 0;
  padding-top: 1.5em;
  position: relative;
}
div#header h1 {
  background: url("icon48.png") 0px 30px no-repeat;
  display: inline;
  margin: 0;
  padding-bottom: 43px;
  padding-left: 55px;
  padding-top: 40px;
}
 
h1 {
  font-size: 150%;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
 
div.content {
  font-size: 84%;
  margin-top: 5px;
}
 
.section-header {
  background: #ebeff9;
  border-top: 1px solid #b5c7de;
  font-size: 95%;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-top: 3px;
  width: 100%;
}

.section-header-title {
  font-weight: bold;
}

.vbox-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.wbox {
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-flex: 1;
}

.wbox-dev-mode {
  -webkit-box-align: stretch;
  -webkit-box-flex: 1;
}

.developer-mode {
  background: #f4f6fc;
  border-bottom: 1px solid #edeff5;
  font-size: 85%;
  padding-bottom: 0.8em;
  padding-left: 10px;
  padding-top: 0.8em;
  width: 100%;
}
 
.extension {
  border-bottom: 1px solid #cdcdcd;
}
 
.credits {
  margin-top: 1em;
  text-align: right;
}

button {
  font-size: 100%;
}

.info-message {
  -webkit-transition-duration: 1s;
  display: none;
  background:#FDFFBD none repeat scroll 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 10px;
  margin-right: 30px;
}
